<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Health Calculator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Bienvenue sur le service Health Calculator version Omar!</h1>
        <p>Choisissez un calcul à effectuer :</p>
        <div class="buttons">
            <a href="/bmi" class="btn">Calculer le BMI</a>
            <a href="/bmr" class="btn">Calculer le BMR</a>
        </div>
    </div>
</body>
</html>
